# Copy this file to:
# run/config/smolvla-demo.env

VLA_PROJECT_ROOT=/home/wheeltec/vla_vehicle_platform

SMOLVLA_CAMERA1=/demo/images/front.jpg
SMOLVLA_CAMERA2=/demo/images/front.jpg
SMOLVLA_CAMERA3=/demo/images/front.jpg

SMOLVLA_TASK="move forward and avoid obstacles"

SMOLVLA_STATE_0=0
SMOLVLA_STATE_1=0
SMOLVLA_STATE_2=0
SMOLVLA_STATE_3=0
SMOLVLA_STATE_4=0
SMOLVLA_STATE_5=0

SMOLVLA_PRINT_ACTIONS=5