datasets==4.0.0
diffusers==0.35.1
huggingface-hub==0.35.3
accelerate==1.10.1
einops==0.8.1
opencv-python-headless==4.10.0.84
av==15.0.0
jsonlines==4.0.0
packaging==25.0
pynput==1.8.1
pyserial==3.5
draccus==0.10.0
gymnasium==1.1.1
deepdiff==8.6.1
imageio[ffmpeg]==2.37.0
termcolor==3.1.0
transformers==4.57.1
num2words==0.5.14
safetensors==0.6.2
